<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag('application', media: 'all') %>
    
      
    
  </head>
  <body>
    <main><div data-reactroot="" data-reactid="1" data-react-checksum="-38426698"><header data-reactid="2"><nav class="navbar navbar-fixed-top navbar-dark bg-inverse" data-reactid="3"><div class="container-fluid" data-reactid="4"><div class="navbar-header" data-reactid="5"><a class="navbar-brand" href="/recipes" data-reactid="6">Cookery</a></div></div></nav></header><div class="container-fluid styles-container-2pRR5" data-reactid="7"><div data-reactid="8"><ul class="row styles-list-3E9YP" data-reactid="9"></ul></div></div></div></main>
    <script>
      INITIAL_STATE = <%= {
      }.to_json.html_safe %>
      INITIAL_DATA = {
      }
    </script>
    
      <script src="http://localhost:8080/main.js" defer></script>
    
  </body>
</html>
